* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.main-container {
    /* width: 500px; */
    height: 100%;
}

.icon-follow {
    width: 100%;
    height: 100%;
    transform: scale(0);
    opacity: 0.5;
    animation: scale-in-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.icon-sub {
    width: 100%;
    height: 100%;
    transform: scale(0);
    opacity: 0.5;
    animation: scale-in-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.path-follow {
  stroke: {{colorFollow}};
}

.path-sub {
  stroke: {{colorSub}};
}


/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    /*opacity: 1;*/
  }
  99% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(7);
            transform: scale(7);
     display: none;
  }
}
